<header class="header">
    <a class="header__logo">
        <img src="../../../assets/images/logo.png" alt="logo">
    </a>
    <ul class="header__list">
        <li class="header__item">
            <a>Giày Nike</a>
        </li>
        <li class="header__item">
            <a>Giày Adidas</a>
        </li>
        <li class="header__item">
            <a>Giày Vans</a>
        </li>
        <li class="header__item">
            <a>Giày thời trang</a>
        </li>
    </ul>
    <div class="header__actions">
        <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-text"></p-button>
        <i pBadge value="0" severity="success" class="pi pi-shopping-cart"></i>
    </div>
</header>